@charset "UTF-8";
.header {
  width: 100%;
  box-shadow: 0 0 10px rgba(61, 60, 60, 0.25);
  z-index: 1;
  position: relative;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  padding: 10px 60px 10px 100px;
  position: relative;
  width: 100%;
}

.location input {
  background-color: #f3f3f3;
  color: black;
  border: 0px;
  font-family: "roboto";
  font-size: 1em;
  padding: 5px 0px 5px 15px;
  font-weight: bold;
}

.presentation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.presentation h1 {
  text-align: center;
  font-size: 1.4em;
  font-family: "roboto";
  margin: 30px 12% 0% 12%;
}
.presentation p {
  text-align: center;
  margin: 20px 5% 20px 5%;
  font-size: 1.2em;
  font-family: "roboto";
}

.process {
  margin-left: 30px;
  margin-top: 40px;
}
@media screen and (min-width: 1025px) {
  .process {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1025px) {
  .process ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
.process li {
  display: flex;
}
@media screen and (min-width: 1025px) {
  .process li {
    width: 32%;
  }
}
.process__btn {
  width: 98%;
  background-color: #F6F6F6;
  border: solid 1px #F6F6F6;
  border-radius: 20px;
  padding: 25px 20% 25px 0;
  font-family: "roboto";
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px #a1a1a1;
}
.process__btn:hover {
  background: #eeebeb;
  color: #9356DC;
}
.process__number {
  color: #fff;
  border: #9356DC solid 1px;
  border-radius: 50%;
  background-color: #9356DC;
  position: absolute;
  margin-left: -15px;
  margin-top: 40px;
  padding: 4px 8PX 4PX 8px;
}

.process__btn span {
  margin-left: 15px;
}

.resto__item img {
  object-fit: cover;
  min-width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}

.resto h2 {
  padding-top: 50px;
  margin-left: 5%;
}

.resto__contenu-heart {
  display: flex;
  justify-content: space-between;
}

.menu__img {
  object-fit: cover;
  min-width: 100%;
  height: 370px;
}
@media screen and (min-width: 768px) {
  .menu__img {
    height: 400px;
  }
}
@media screen and (min-width: 1025px) {
  .menu__img {
    height: 430px;
  }
}

.menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  padding-top: 20px;
  margin-top: -100px;
  z-index: 1;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .menu {
    margin-top: -50px;
    margin-right: 3%;
    margin-left: 3%;
  }
}
.menu__title {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 20px;
}
.menu__heart-icon {
  font-size: 1.5em;
  margin-right: 40px;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 300;
  color: #5c5858;
}
.menu__heart-icon::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 26px;
  top: 58.5px;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 27px;
  opacity: 0;
  transition: 0.5s ease-out;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
}
.menu__heart-icon:hover::after {
  opacity: 1;
}

.menu__title h1 {
  font-family: Shrikhand;
  font-size: 1.8em;
  font-weight: 400;
}

.menu h2 {
  font-size: 1.1em;
  margin-top: 30px;
  font-weight: 800;
  margin-left: 15px;
  margin-right: 325px;
}

.inderline {
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
  width: 45px;
  height: 3px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1025px) {
  .food {
    display: flex;
  }
}
@media screen and (min-width: 1025px) {
  .food__item {
    width: 33%;
  }
}

.food__menu {
  animation: apparition 2s both;
  cursor: pointer;
  background-color: #fff;
  border-radius: 20px;
  margin: 20px 13px 20px 13px;
  padding: 15px 15px 15px 15px;
  height: 70px;
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.food__menu h3 {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: "roboto";
  font-size: 1.2em;
  font-weight: bold;
}
@media screen and (min-width: 1025px) {
  .food__menu h3 {
    font-size: 1em;
  }
}
.food__menu p {
  width: 90%;
  font-family: "roboto";
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1em;
  font-weight: 500;
}
.food__menu-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 0.95em;
  margin-top: -19PX;
  transition: 0.7s;
}
.food__menu-icon {
  border-radius: 0px 20px 20px 0px;
  background-color: #99E2D0;
  width: 0px;
  height: 70px;
  right: -15px;
  top: -56px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100%;
  transition: 0.7s;
}
@media screen and (min-width: 1025px) {
  .food__menu-icon {
    top: -52PX;
  }
}
.food__menu-icon i {
  background-color: #fff;
  font-size: 18px;
  color: #99E2D0;
  border-radius: 50%;
  padding: 3px;
  transition: 0.7s;
  opacity: 0;
}
.food__menu:hover {
  box-shadow: 2px 2px 10px #b3b1b1;
}
.food__menu:hover .food__menu-icon {
  width: 70px;
  transform: translate(-70px);
}
.food__menu:hover i {
  opacity: 1;
  transform: rotate(360deg);
}
.food__menu:hover .food__menu-price {
  transform: translate(-70px);
}
.food__menu:hover p, .food__menu:hover h3 {
  width: 70%;
}
@media screen and (min-width: 1025px) {
  .food__menu:hover p, .food__menu:hover h3 {
    width: 63%;
  }
}

#card-1 {
  animation-delay: 0.2s;
}

#card-2 {
  animation-delay: 0.4s;
}

#card-3 {
  animation-delay: 0.6s;
}

#card-4 {
  animation-delay: 0.8s;
}

#card-5 {
  animation-delay: 1s;
}

#card-6 {
  animation-delay: 1.2s;
}

#card-7 {
  animation-delay: 1.4s;
}

#card-8 {
  animation-delay: 1.6s;
}

#card-9 {
  animation-delay: 1.8s;
}

#card-10 {
  animation-delay: 2s;
}

.commande-btn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 15px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto";
  font-size: 1em;
}

ul {
  list-style: none;
}

h2 {
  font-size: 1.3em;
  font-family: "roboto";
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-family: "roboto";
}

a {
  text-decoration: none;
}

:hover a {
  cursor: pointer;
}

.btn {
  align-items: center;
  background-image: linear-gradient(180deg, #FF79DA, #9356DC);
  border-radius: 20px;
  color: #fff;
  font-family: "roboto";
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 40px;
  padding: 15px;
  opacity: 1;
  transition: 0.5s;
  box-shadow: 0px 0px 10px #dbd9d9;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 5px 5px 5px 0px #b3b1b1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  margin-left: 20px;
  margin-top: 10px;
  color: black;
  font-size: 1.2em;
  margin-right: 95%;
  position: absolute;
}

.footer {
  background-color: #3a3939;
  border: solid #3a3939 1px;
  width: 100%;
  padding-top: 20px;
  padding-left: 30px;
  color: #fff;
  padding-bottom: 30px;
}
@media screen and (min-width: 1025px) {
  .footer {
    padding-left: 50px;
    padding-right: 100px;
  }
}
.footer__elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .footer__elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__logo {
  font-family: Shrikhand;
  color: #fff;
  font-size: 1em;
  padding-top: 15px;
}
.footer__resto {
  display: flex;
  color: #fff;
  font-size: 1em;
  margin-top: 15px;
  font-weight: 600;
}
.footer__hands {
  display: flex;
  color: #fff;
  font-size: 1em;
  margin-top: 15px;
  font-weight: 600;
}
.footer__contenu {
  color: #fff;
  font-size: 1em;
  margin-top: 15px;
  font-weight: 600;
}
.footer__contact {
  color: #fff;
  font-size: 1em;
  margin-top: 15px;
  font-weight: 600;
}
.footer p {
  margin-left: 15px;
}

.footer__hands i {
  font-size: 0.8em;
}

.resto {
  background: #F6F6F6;
  margin-top: 60px;
}
.resto__item {
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #a1a1a1;
  margin: 15px 5%;
  color: black;
  transition: 0.2s;
}
.resto__item:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 5px 0px #b3b1b1;
}
@media screen and (min-width: 1025px) {
  .resto__item {
    width: 46%;
    margin: 20px 2%;
  }
}
@media screen and (min-width: 768px) {
  .resto__item {
    width: 46%;
    margin: 20px 2%;
  }
}
.resto__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1025px) {
  .resto__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .resto__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.resto__contenu {
  padding: 15px;
}
.resto__new {
  position: absolute;
  margin-left: -90px;
  margin-top: 40px;
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #99E2D0;
}

.heart-icon {
  font-size: 25px;
  padding-top: 15px;
  padding-right: 15px;
  font-weight: 300;
  color: #5c5858;
}

.heart-icon::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 84.5%;
  right: 0.5px;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 27px;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
}
@media screen and (min-width: 1025px) {
  .heart-icon::after {
    right: 1px;
  }
}

.heart-icon:hover::after {
  opacity: 1;
}

.loader-contenair {
  animation: loader 0.01s;
  animation-delay: 1s;
  animation-fill-mode: both;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.loader {
  height: 80px;
  width: 80px;
  top: 30%;
  position: absolute;
  border: 15px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-right-color: #FF79DA;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.loader:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: #99E2D0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    background: transparent;
    z-index: 0;
    height: 0%;
    width: 0%;
  }
}

/*# sourceMappingURL=style.css.map */
