@mixin flex-center {
    display: flex;
   align-items: center;
   justify-content: center;
 }
 
 @mixin flex-column-center {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 @mixin tablette {
  @media screen and (min-width: $tablette) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
  }
  @mixin animation-menu {
    animation: apparition 2s both;
  
    @keyframes apparition {

        0% {
           opacity: 0;
           }
        
        100% {
      
          opacity: 1;
          
    }
   }
  }
